.body-box {
    position: relative;
    margin: -19px auto 0;
    width: calc(100% - 38px);
    padding: 24px 19px;
    border: 5px solid #39B8FF;
    border-image: linear-gradient(90deg, #72EDDB 0%, #39B8FF 100%) 10 10 stretch;
}
.body-box::after {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    right: -10px;
    bottom: -32px;
    background: url('../assets/dot.png') no-repeat center center;
    background-size: 100%;
}
.body-box > p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}