.title-button-container {
    width: 21.7%;
    height: 7.3vw;
    border-radius: 3.65vw;
    margin: 25px auto 15px;
    background: url('../assets/btn_bg_apply.png') no-repeat center center;
    background-size: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 2.4vw;
    line-height: 7.3vw;
}

.ball-scale {
    position: relative;
    animation: ball-scale-inner 3s 0s ease infinite;
}
.ball-scale::after,
.ball-scale::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3.65vw;
    border: 1px solid rgba(0, 255, 255, 0.5);
    box-shadow: 0 0 5px #00ffde inset;
    animation: ball-scale 2s 0s ease infinite;
}
.ball-scale::after {
    animation-delay: 1s;
}

@media screen and (min-width: 750px)  {
    .title-button-container {
        font-size: 19px;
    }
    .ball-scale::after,
    .ball-scale::before {
        display: none;
    }
}

@keyframes ball-scale {
    0% {
        transform: scale(1.05, 1.05);
        opacity: 1;
    }

    90% {
        transform: scale(1.15, 1.4);
        opacity: 0
    }

    100% {
        transform: scale(1.05, 1.2);
        opacity: 0
    }
}

@keyframes ball-scale-inner {
    0% {
        transform: scale(0.98, 0.98);
        opacity: 1;
    }

    50% {
        transform: scale(1, 1);
        opacity: 0.9
    }
}
