.title-box-container {
    position: relative;
    width: 100px;
    height: 52px;
    margin: 0 auto;
    background: url('../assets/btn_bg.png') no-repeat center center;
    background-size: 100%;
    z-index: 5;
}
.title-border {
    position: absolute;
    width: 100%;
    height: 100%;
}
.title-text {
    width: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-top,
.title-bottom
{
    position: absolute;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(-90deg, #72EDDB 0%, #39B8FF 100%);
}
.title-bottom {
    background-image: linear-gradient(90deg, #72EDDB 0%, #39B8FF 100%);
    bottom: 0;
}
.title-left,
.title-right
{
    top: 5px;
    width: 5px;
    bottom: 5px;
    position: absolute;
    background-image: linear-gradient(180deg, #72EDDB 0%, #39B8FF 100%);
}
.title-right {
    right: 0;
    background-image: linear-gradient(0deg, #72EDDB 0%, #39B8FF 100%);
}