.title-main-margin {
    height: 25px;
}
.title-main {
    width: 342px;
    height: 168px;
    margin: 0 auto;
    text-align: center;
    background: url("../assets/h1_bg2.png") no-repeat center center;
    background-size: 100%;
}
.title-main::before {
    content: '';
    width: 15px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}


.h1-txt {
    width: 184px;
    display: inline-block;
    vertical-align: middle;
}