.title-button-container {
    width: 90px;
    height: 34px;
    border-radius: 17px;
    margin: 30px auto 15px;
    text-align: center;
    color: #ffffff;
}

.ball-scale {
    position: relative;
}
.ball-scale > .border1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    background: linear-gradient(90deg, #72EDDB 0%, #39B8FF 100%);
    z-index: 1;
}

.ball-scale > .bg {
    position: absolute;
    top: 3px;
    left: 3px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    background: url('../assets/btn_bg_apply.png') no-repeat center center;
    background-size: 108%;
    border-radius: 19px;
    z-index: 1;
}
.ball-scale > .light1,
.ball-scale > .light2,
.ball-scale > .light3 {
    /*content: '';*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 17px;
    box-shadow: 0 0 5px #00ffde inset;
    animation: ball-scale 3s 0s none infinite;
    z-index: 0;
}
.ball-scale > .light2 {
    animation-delay: 1s;
}
.ball-scale > .light3 {
    animation-delay: 2s;
}
.ball-scale > .text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    z-index: 90;
}
@media screen and (min-width: 750px)  {
    .title-button-container {
        font-size: 19px;
    }
}

@keyframes ball-scale {
    0% {
        transform: scale(1.0, 1.05);
        opacity: 0;
    }

    30% {
        transform: scale(1.08, 1.2);
        opacity: 0.8;
    }

    95% {
        transform: scale(1.25, 1.6);
        opacity: 0
    }

    100% {
        transform: scale(1.0, 1.05);
        opacity: 0
    }
}

