.page-loading {
    position: relative;
    background: #0683ff url(assets/bg0.png) no-repeat top center;
    background-size: 100% 101%;
    z-index: 99999;
    padding-top: 35%;
    text-align: center;
    font-size: 30px;
    color: #F8F8F8;
    text-shadow: 0 0 6px #00ffff;
    height: 100vh;
}