img {
    border: none;
    max-width: 100%;
    pointer-events: none;
}

.page-loading,
.bannerBox {
    position: absolute;
    min-height: 1390px;
    background: #0683ff url(assets/bg0.png) no-repeat top center;
    background-size: 100% 101%;
    z-index: 99999;
}

.page-loading {
    padding-top: 35%;
    text-align: center;
    font-size: 30px;
    color: #F8F8F8;
    text-shadow: 0 0 6px #00ffff;
}

.time-place {
    margin: 22px;
    text-align: center;
    color: #ffffff;
    font-size: 13px;
    text-shadow: 1px 1px 1px #0a74d3;
}

.free-btn1 {
    bottom: 12.5%;
}

.free-btn {
    position: absolute;
    display: block;
    width: 33.33%;
    z-index: 1000;
    left: 33.33%;
    -webkit-animation: bounceIn 2s infinite ease-in-out forwards;
    animation: bounceIn 2s infinite ease-in-out forwards;
}

.arrow-box {
    margin: 0 auto;
    width: 50%;
    z-index: 900;
}

.arrow-box .arrow {
    z-index: 999;
    animation: start 1.5s infinite ease-in-out;
    display: block;
    margin: 15px auto 0 auto;
    width: 20px;
    height: 15px;
}

.body2 {
    padding: 15px 20px 0 15px;
    width: 100%;
    height: auto;
}
.company-logo {
    display: inline-block;
    padding: 30px calc((100% - 263px) / 2);
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 1;
        transform: scale3d(0.6, 0.6, 0.6);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes start {

    0%,
    30% {
        opacity: 0;
        -webkit-transform: translate(0, -8px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(0, 10px);
    }
}
